# Database, data, and archive files
*.db
*.db-journal
*.db-wal
*.db-shm
*.dat
*.zip

# Temporary and log files
*.tmp
*.log
*.zip

# Compiled Object and Executable files
*.o
*.exe

# Word/Office temporary and backup files
*.docx
*.doc
~$*
*.tmp